html 
{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.1; 
    flex-direction: column;
    
}

form 
{
    text-align: center;
    line-height: 2.1; 
}
  